/* Fonts
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */



/* H1 styles
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 h1, .h1-style {
    font-family: $merriweather;
    color: $gray-900;
    font-size: 4.8rem;
    font-weight: $font-bold;
    letter-spacing: normal;
    line-height: 1.15;
    text-transform: none;
}

 .h1-subhead {
    font-family: $poppins;
    color: $red;
    font-size: 1.4rem;
    font-weight: $font-bold;
    text-transform: uppercase;

}

/* H2 styles
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
h2, .h2-style {
    //36, 22
    font-family: $merriweather;
    color: $gray-900;
    font-size: 1.6em;
    font-weight: $font-light;
    letter-spacing: normal;
    line-height: 1.333;
    text-transform: none;
}

/* H3 styles
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
h3, .h3-style {
    //24, 18
    font-family: $merriweather;
    color: $gray-900;
    font-size: clamp(1.8rem, 1em, 2.4rem);
    font-weight: $font-bold;
    letter-spacing: normal;
    line-height: 1.33333;
    text-transform: none;
}

.h3-subhead {
    //18, 16
    color: $gray-700;
    font-size: clamp(1.6rem, 1em, 1.8rem);
    font-weight: $font-light;
    line-height: 1.33333;
}

/* H4 styles
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 h4, .h4-style {
    //18, 16
    color: $gray-900;
    font-family: $roboto;
    font-weight: $font-bold;
    line-height: 1.4;
    font-size: clamp(1.6rem, 1em, 1.8rem);
}

/* H5 styles
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
 h5, .h5-style {
    color: $gray-900;
    font-size: 1.2rem;
    font-weight: $font-bold;
    line-height: 1.5;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    // &.sub-line {
    //     overflow: hidden;
    //     padding-bottom: 1.25em;
    //     position: relative;

    //     &:after {
    //         background: $gray-700;
    //         bottom: 0;
    //         display: block;
    //         content: "";
    //         height: 1px;
    //         position: absolute;
    //         width: 32px;

    //         .centered & {
    //             left: 50%;
    //             transform: translateX(-50%);
    //         }
    //     }
    // }
}

.h5-subhead {
    color: $gray-700;
    font-size: 1.3rem;
    font-weight: $font-regular;
}

/* P styles
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */

p {
    font-family: $roboto;
    color: $gray-900;
    font-weight: $font-regular;
    line-height: 1.65;
    font-size: 1.2rem;
    // font-size: 1.15em;

    // @include media(sm){
	// 	font-size: 0.775em;
	// }

    // &.small-text {
    //     font-size: 1.4rem;
    // }

    // &.smaller-text {
    //     font-size: 1.2rem;
    // }
    
    a {
        
    }
}


.button {
    background: $gold;
    color: #fff;
    font-size: 1.2rem;
    font-weight: $font-bold;
    font-family: $poppins;
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 16px;
}

.primary-gold-btn {
    background: $gold;
    color: #fff;
    font-size: 1.2rem;
    font-weight: $font-bold;
    font-family: $poppins;
    text-decoration: none;
    padding: 5px 30px;
    border-radius: 16px;
}
/* DL/DD styles
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@mixin dl {

    dd {
        margin: revert;
    }
}

@mixin default-link {
    color: $blue-700;
    text-decoration: underline;

    transition: border .2s ease-in,background-size .2s ease-in;
    background: linear-gradient( 120deg,rgba(0,119,179,.1) 0%,rgba(0,119,179,.1) 100%) no-repeat;
    background-position: 0 100%;
    background-size: 100% 0;
    border-bottom: 1px solid #0077b3;
    color: #0077b3;
    padding-bottom: 0.1em;
    text-decoration: none;

    &:hover {
        text-decoration: none;
        background-size: 100% 100%;
        border-bottom: 0 solid rgba(0,119,179,.1);
        color: #2d2d2d;
    }
}

/* STRONG styles
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@mixin strong {
    color: $gray-900;
    font-weight: $font-heavy;
}

/* EM styles
/* - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - */
@mixin em {
    font-style: italic;
 }

@mixin default-lists {
    ol, ul {
        @include p;
        padding-left: 1.6rem;

        & > li {
            padding-left: 0.25em;

            & + li {
                padding-top: 0.5em;
            }
        }
    }

    ol {
        list-style: decimal;

        li::marker {
            color: $gray-900;
            font-size: 1em;
            font-weight: $font-bold;
            @include ninetysixsans;
        }
    }

    ul {
        list-style-type: disc;

        li::marker {
            color: $purple-500;
            font-size: 1.5rem;
        }
    }
}

@mixin focus-state($color: $blue-700, $weight: 3px, $style: dashed){
    body:not(.disable-focus-state) &:focus {
        outline: -webkit-focus-ring-color none 0;
        outline: $weight $style $color;
        outline-offset: 0.5 * $weight;
        @content;
    }
}

.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}